<template>
    <server-member-wrapper>
        <h1>Modules</h1>
        <div class="row">
            <div class="col-md-4">
                <module-card url="/member/competitions"
                             card-title="Competitions"
                             card-subtitle="View and submit runs for various competitions here"/>
            </div>
        </div>
    </server-member-wrapper>
</template>

<script>
import ServerMemberWrapper from "../../ServerMemberWrapper.vue";
import ModuleCard from "../../components/ModuleCard.vue";
export default {
    name: "CompSubmissionsHome",
    components: {ModuleCard, ServerMemberWrapper}
}
</script>

<style scoped>

</style>