<template>
    {{ minutes }}:{{ seconds }}
</template>

<script>
export default {
    name: "ElapsedTimeDisplay",
    props: {
        durationInSeconds: Number
    },
    computed: {
        minutes() {
            return parseInt(this.durationInSeconds / 60, 10);
        },
        seconds() {
            const retVal = this.durationInSeconds % 60;

            return retVal < 10 ? `0${retVal}` : retVal;
        }
    }
}
</script>

<style scoped>

</style>