<template>
    <admin-wrapper current-page="Competitions">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                Competitions
                <button v-if="competitions !== null"
                        class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#competition-offcanvas" @click="showCreateCompetitionSidebar">Create Competition</button>
            </div>
            <div class="card-body">
                <accordion-loader v-if="competitions === null"/>
                <p v-else-if="competitions === []">No competitions created.</p>
                <table class="table" v-else>
                    <thead>
                    <tr>
                        <th scope="col">Competition</th>
                        <th scope="col">Submissions Open</th>
                        <th scope="col">Submissions Close</th>
                        <th scope="col">Number of Submissions</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="competition in competitions">
                        <td>{{ competition.name }}</td>
                        <td><moment :value="competition.startTime" format="MMM DD YYYY HH:mm z" include-relative/></td>
                        <td><moment :value="competition.endTime" format="MMM DD YYYY HH:mm z" include-relative/></td>
                        <td>
                            {{ competition.numberOfSubmissions }}
                            <template v-if="competition.numberOfPendingSubmissions > 0">
                                ({{ competition.numberOfPendingSubmissions }} {{ competition.numberOfPendingSubmissions === 1 ? 'needs' : 'need' }} verification)
                            </template>
                        </td>
                        <td>
                            <router-link class="btn btn-link" :to="`/admin/competitions/${competition.id}`">View Submissions</router-link>
                            <button class="btn btn-link" data-bs-toggle="offcanvas" data-bs-target="#competition-offcanvas" @click="editCompetition(competition)">Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="competition-offcanvas" aria-labelledby="offcanvas-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvas-label">{{ editCompetitionModel.id !== null ? 'Edit' : 'Create' }} Competition</h5>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    <label for="create-comp-name" class="form-label">Competition Name</label>
                    <input class="form-control" type="text" id="create-comp-name" v-model="editCompetitionModel.name">
                </div>
                <div class="mb-3">
                    <label for="create-comp-description" class="form-label">Description (optional)</label>
                    <textarea class="form-control" type="text" id="create-comp-description" v-model="editCompetitionModel.description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="create-start-date" class="form-label">Start Time</label>
                    <date-picker :show-second="false"
                                 v-model:value="editCompetitionModel.startTime"
                                 format="YYYY-MM-DD HH:mm"
                                 type="datetime"/>
                    <div class="text-muted" v-if="editCompetitionModel.startTime">
                        <moment :value="editCompetitionModel.startTime" format="MMM DD YYYY HH:mm z" timezone="Europe/Amsterdam"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="create-end-date" class="form-label">End Time</label>
                    <date-picker v-model:value="editCompetitionModel.endTime"
                                 type="datetime"
                                 format="YYYY-MM-DD HH:mm"
                                 :disabled-date="(date) => date <= editCompetitionModel.startTime" />
                    <div class="text-muted" v-if="editCompetitionModel.endTime">
                        <moment :value="editCompetitionModel.endTime" format="MMM DD YYYY HH:mm z" timezone="Europe/Amsterdam"/>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-label">Platforms</div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="PC" id="create-platform-pc"
                               v-model="editCompetitionModel.platforms">
                        <label class="form-check-label" for="create-platform-pc">
                            PC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Console" id="create-platform-console"
                               v-model="editCompetitionModel.platforms">
                        <label class="form-check-label" for="create-platform-console">
                            Console
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="All" id="create-platform-all"
                               v-model="editCompetitionModel.platforms">
                        <label class="form-check-label" for="create-platform-all">
                            All
                        </label>
                    </div>
                    <div class="text-muted">Only use "All" if not using PC nor Console</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" @click="saveCompetition">Save</button>
                    <button ref="offcanvasCloser" style="display: none" data-bs-dismiss="offcanvas" aria-hidden="true">[!] Internal Button to Close Offcanvas</button>
                </div>
            </div>
        </div>
    </admin-wrapper>
    <toasts ref="toasts"/>
</template>

<script>
import AdminWrapper from "../../AdminWrapper.vue";
import AccordionLoader from "../../components/AccordionLoader.vue";
import Moment from "../../components/Moment.vue";
import {useCookies} from "vue3-cookies";
import Toasts from "../../components/Toasts.vue";
import DatePicker from 'vue-datepicker-next';
import Modal from "@/components/Modal.vue";


export default {
    name: "Competitions",
    setup() {
        const {cookies} = useCookies();
        return {
            cookies
        }
    },
    components: {
        Modal,
        Toasts,
        Moment,
        AccordionLoader,
        AdminWrapper,
        DatePicker
    },
    data() {
        return {
            competitions: null,
            showOffCanvas: false,
            editCompetitionModel: {
                id: null,
                name: null,
                description: null,
                startTime: null,
                endTime: null,
                platforms: []
            }
        }
    },
    mounted() {
        this.fetchCompetitions();
    },
    methods: {
        fetchCompetitions() {
            this.competitions = null;
            this.$http.get(`${this.$apiDomain}/competitions-with-submissions`, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(resp => this.competitions = resp.data)
                .catch(err => console.error(err));
        },
        showCreateCompetitionSidebar() {
            this.editCompetitionModel.id = null;
            this.editCompetitionModel.name = null;
            this.editCompetitionModel.description = null;
            this.editCompetitionModel.startTime = null;
            this.editCompetitionModel.endTime = null;
            this.editCompetitionModel.platforms = [];
        },
        editCompetition(competition) {
            const clonedCompetition = {...competition};

            this.editCompetitionModel.id = clonedCompetition.id;
            this.editCompetitionModel.name = clonedCompetition.name;
            this.editCompetitionModel.description = clonedCompetition.description;
            this.editCompetitionModel.startTime = new Date(clonedCompetition.startTime);
            this.editCompetitionModel.endTime = new Date(clonedCompetition.endTime);
            this.editCompetitionModel.platforms = clonedCompetition.platforms;
        },
        saveCompetition() {
            const json = {
                id: this.editCompetitionModel.id,
                name: this.editCompetitionModel.name,
                description: this.editCompetitionModel.description,
                startTime: this.editCompetitionModel.startTime.toISOString(),
                endTime: this.editCompetitionModel.endTime.toISOString(),
                platforms: this.editCompetitionModel.platforms
            };

            this.$http.post(`${this.$apiDomain}/competitions`, json, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(_ => {
                this.$refs.toasts.success('Your competition has been saved.');
                this.fetchCompetitions();
                this.$refs.offcanvasCloser.click();
            }).catch(err => {
                this.$refs.toasts.error('An error occurred when attempting to save your changes.');
                console.error(err);
            });
        }
    },
}
</script>

<style lang="scss" scoped>
    .card {
        margin-top: 10px;

        td .btn-link {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    :deep(.mx-input) {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);


    }

    :deep(svg) {
        fill: var(--bs-body-color);
    }
</style>