<template>
    <admin-wrapper current-page="Short Links">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                Short Links
            </div>
            <div class="card-body">
                <accordion-loader v-if="!shortLinks" />
                <table v-else class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Short Name</th>
                        <th scope="col">Target URL</th>
                        <th scope="col">Uses</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="!shortLinks.length">
                        <td colspan="4">No short links created</td>
                    </tr>
                    <tr v-else v-for="shortLink in shortLinks">
                        <td>{{ shortLink.key }}</td>
                        <td>{{ shortLink.redirectUrl }}</td>
                        <td>{{ shortLink.uses }}</td>
                        <td>
                            <button @click="copyLink(shortLink)" class="btn btn-secondary">Copy Link</button>
                            <button :ref="`delete${shortLink.id}`" @click="deleteShortLink(shortLink)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                Create Short Link
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="create-key" class="form-label">Short Name</label>
                    <input type="text" class="form-control" v-model="creation.key" id="create-key">
                </div>
                <div class="mb-3">
                    <label for="create-key" class="form-label">Target URL</label>
                    <input type="text" class="form-control" v-model="creation.url" id="create-key">
                </div>
                <div class="mb-3">
                    <button ref="createButton" class="btn btn-success" @click="createShortLink">Save</button>
                </div>
            </div>
        </div>
    </admin-wrapper>
    <toasts ref="toasts"/>
</template>

<script>
import AdminWrapper from "@/AdminWrapper.vue";
import AccordionLoader from "@/components/AccordionLoader.vue";
import {useCookies} from 'vue3-cookies';
import Toasts from "../../components/Toasts.vue";
import ArrayHelpers from "@/components/ArrayHelpers";

export default {
    name: "ShortLinks",
    components: {Toasts, AccordionLoader, AdminWrapper},
    setup() {
        const {cookies} = useCookies();
        return {
            cookies
        }
    },
    data() {
        return {
            shortLinks: null,
            creation: {
                key: null,
                url: null
            }
        }
    },
    methods: {
        createShortLink() {
            if (!this.creation.url.startsWith('https://')) {
                this.$refs.toasts.error("Target URL doesn't look like a URL. URLs must start with 'https://'");
                return;
            }

            this.$refs.createButton.disabled = true;
            this.$http.post(`${this.$apiDomain}/short-links`, this.creation, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(resp => {
                this.$refs.createButton.disabled = false;
                this.shortLinks.push(resp.data);
                this.$refs.toasts.success('Short link created!');
                this.creation.key = null;
                this.creation.url = null;
            }).catch(err => {
                this.$refs.createButton.disabled = false;
                console.error(err);
                this.$refs.toasts.error('An error occurred while trying to create your short link');
            });
        },
        copyLink(shortLink) {
            navigator.clipboard.writeText(`${this.$vueDomain}/${shortLink.key}`);
            this.$refs.toasts.success('Copied link to clipboard');
        },
        deleteShortLink(shortLink) {
            const buttonRef = this.$refs[`delete${shortLink.id}`][0];
            buttonRef.disabled = true;
            this.$http.delete(`${this.$apiDomain}/short-links/${shortLink.id}`, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(_ => {
                ArrayHelpers.deleteElementByIndex(this.shortLinks, this.shortLinks.indexOf(shortLink));
                this.$refs.toasts.success('Short link deleted!');
            }).catch(err => {
                buttonRef.disabled = false;
                console.error(err);
                this.$refs.toasts.error('An error occurred while trying to delete the short link');
            });
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/short-links`, {
            headers: {
                'X-Discord-Token': this.cookies.get('discord-token')
            }
        }).then(resp => this.shortLinks = resp.data)
            .catch(console.error);
    }
}
</script>

<style scoped lang="scss">
.card {
    margin-top: 10px;


    thead th {
        font-weight: 700;
    }

    td button:not(:last-child) {
        margin-right: 5px;
    }
}
</style>