<template>
    <admin-wrapper current-page="Winner's Club Contracts">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Winners Club Contracts</h4>
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-for="year in range(firstYear, currentYear).reverse()">
                        <a class="nav-link"
                           :class="year === selectedYear ? 'active' : ''"
                           href="#"
                           @click="selectYear(year)">
                            {{ year }}
                        </a>
                    </li>
                </ul>
                <div class="accordion" id="winners-club-accordion">
                    <div class="accordion-item" v-for="month in 12">
                        <h2 class="accordion-header" :id="`heading-${month}`">
                            <button class="accordion-button"
                                    :class="selectedMonth !== month ? 'collapsed' : ''"
                                    type="button"
                                    data-coreui-toggle="collapse"
                                    :data-coreui-target="`collapse-${month}`" @click="setCurrentMonth(month)">
                                {{ months[month - 1] }} {{ selectedYear }}
                            </button>
                        </h2>
                        <div :id="`collapse-${month}`"
                             class="accordion-collapse collapse"
                             :class="month === selectedMonth ? 'show' : ''"
                             :aria-labelledby="`heading-${month}`"
                             data-coreui-parent="winners-club-accordion">
                            <div class="accordion-body">
                                <accordion-loader v-if="!contractCollections[`${selectedYear}|${selectedMonth}`]"/>
                                <div class="table-responsive" v-else>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Event</th>
                                            <th scope="col">Winner</th>
                                            <th scope="col">Epic</th>
                                            <th scope="col">Steam</th>
                                            <th scope="col">PlayStation</th>
                                            <th scope="col">Xbox</th>
                                            <th scope="col">Stadia</th>
                                            <th scope="col">Switch</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <template v-for="(contract, index) in contractCollections[`${selectedYear}|${selectedMonth}`]">
                                            <tr :class="!contract.event || !contract.winner ? 'no-bottom-border' : ''">
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.event">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.winner">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.epic">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.steam">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.playStation">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.xbox">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.stadia">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="contract.switch">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger"
                                                            @click="removeRow(selectedYear, selectedMonth, index)">Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr v-if="!contract.event || !contract.winner">
                                                <td colspan="9">
                                                    <c-icon icon="cilWarning" />
                                                    This contract will not be saved as it needs both an event name and a winner's name.
                                                </td>
                                            </tr>
                                        </template>
                                        <tr>
                                            <td colspan="9">
                                                <button type="button" class="btn btn-success save-changes-btn"
                                                        @click="saveCollection">
                                                    Save Changes
                                                </button>
                                                <button type="button" class="btn btn-outline-primary"
                                                        @click="addRow(selectedYear, selectedMonth)">
                                                    Add Row
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="9">Showing
                                                {{ contractCollections[`${selectedYear}|${selectedMonth}`].length }}
                                                {{
                                                    contractCollections[`${selectedYear}|${selectedMonth}`].length === 1 ? 'contract' : 'contracts'
                                                }}
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </admin-wrapper>
    <toasts ref="toasts"/>
</template>

<script>
import AdminWrapper from "@/AdminWrapper.vue";
import AccordionLoader from "@/components/AccordionLoader.vue";
import {useCookies} from 'vue3-cookies';
import Toasts from "../../components/Toasts.vue";

export default {
    name: "WinnersClubContracts",
    components: {Toasts, AccordionLoader, AdminWrapper},
    setup() {
        const {cookies} = useCookies();
        return {
            cookies
        }
    },
    data() {
        return {
            firstYear: 2020,
            selectedMonth: -1,
            selectedYear: -1,
            contractCollections: {},
            months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        }
    },
    computed: {
        currentYear() {
            return new Date().getFullYear();
        },
        currentMonth() {
            return new Date().getMonth();
        }
    },
    methods: {
        selectYear(newYear) {
            this.selectedYear = newYear;
        },
        setCurrentMonth(month) {
            this.selectedMonth = this.selectedMonth === month ? -1 : month;

            this.checkIfCollectionLoaded();
        },
        range(start, end) {
            return Array(end - start + 1).fill().map((_, idx) => start + idx);
        },
        checkIfCollectionLoaded() {
            if (this.selectedMonth === -1) {
                return;
            }

            const requestedMonth = this.selectedMonth;
            const requestedYear = this.selectedYear;
            if (!this.contractCollections[`${requestedYear}|${requestedMonth}`]) {
                this.$http.get(`${this.$apiDomain}/collections?month=${requestedMonth}&year=${requestedYear}`)
                    .then(resp => {
                        this.contractCollections[`${requestedYear}|${requestedMonth}`] = [];
                        for (const contract of resp.data.contracts) {
                            this.contractCollections[`${requestedYear}|${requestedMonth}`].push({
                                event: contract.event,
                                winner: contract.winner,
                                epic: this.getPublicId(contract, 'Epic'),
                                steam: this.getPublicId(contract, 'Steam'),
                                playStation: this.getPublicId(contract, 'PlayStation'),
                                xbox: this.getPublicId(contract, 'Xbox'),
                                stadia: this.getPublicId(contract, 'Stadia'),
                                switch: this.getPublicId(contract, 'Switch'),
                            });
                        }
                    }).catch(err => {
                    if (err.response.status === 404) {
                        this.contractCollections[`${requestedYear}|${requestedMonth}`] = [];
                    } else {
                        console.error(err);
                    }
                });
            }
        },
        getPublicId(contract, platform) {
            const platformToPublicId = contract.contractIds.find(x => x.platform === platform);

            return platformToPublicId ? platformToPublicId.publicId : '';
        },
        addRow(year, month) {
            this.contractCollections[`${year}|${month}`].push({
                event: '',
                winner: '',
                epic: '',
                steam: '',
                playStation: '',
                xbox: '',
                stadia: '',
                switch: '',
            });
        },
        removeRow(year, month, index) {
            this.contractCollections[`${year}|${month}`].splice(index, 1);
        },
        saveCollection() {
            const data = {
                month: this.selectedMonth,
                year: this.selectedYear,
                contracts: []
            };
            for (const contract of this.contractCollections[`${this.selectedYear}|${this.selectedMonth}`]) {
                if (!contract.event || !contract.winner) {
                    continue;
                }

                const contractRequestData = {
                    event: contract.event,
                    winner: contract.winner,
                    contractIds: []
                }
                this.addPlatformPublicIdPairIfPresent(contract.epic, contractRequestData, 'Epic');
                this.addPlatformPublicIdPairIfPresent(contract.steam, contractRequestData, 'Steam');
                this.addPlatformPublicIdPairIfPresent(contract.playStation, contractRequestData, 'PlayStation');
                this.addPlatformPublicIdPairIfPresent(contract.xbox, contractRequestData, 'Xbox');
                this.addPlatformPublicIdPairIfPresent(contract.stadia, contractRequestData, 'Stadia');
                this.addPlatformPublicIdPairIfPresent(contract.switch, contractRequestData, 'Switch');
                data.contracts.push(contractRequestData);
            }

            this.$http.post(`${this.$apiDomain}/collections`, data, {
                headers: {
                    'X-Discord-Token': this.cookies.get('discord-token')
                }
            }).then(_ =>
                this.$refs.toasts.success('Your changes have been saved.')
            ).catch(err => {
                this.$refs.toasts.error('An error occurred when attempting to save your changes.');
                console.error(err);
            });
        },
        addPlatformPublicIdPairIfPresent(publicId, contractRequestData, platformString) {
            if (publicId) {
                contractRequestData.contractIds.push({
                    platform: platformString,
                    publicId: publicId
                });
            }
        }
    },
    mounted() {
        this.selectedYear = this.currentYear;
        this.selectedMonth = this.currentMonth;
        this.checkIfCollectionLoaded();
    }
}
</script>

<style scoped lang="scss">
.card {
    margin-top: 10px;

    .save-changes-btn {
        margin-right: 5px;
    }

    tr.no-bottom-border > td {
        border-bottom-width: 0;
    }
}
</style>